#results-modal .logo>img {
  height: clamp(50px, 200px, 12vh);
}


#results-modal .reload-btn>img {
  height: clamp(3.2em, 4em, 6vh);
  padding: 0.6em;

}

#results-modal .reload-btn > img:hover {
  background-color: #dddfe9;
  border-radius: 0.8em;
  cursor: pointer;
}



#results-progression {
  font-size: 6vmin;
  font-family: 'Luckiest Guy', cursive;
}





#results-modal .pie-chart .pie-chart-container{
  position: relative;
  height: clamp(150px, 20vh, 10vmin);
  font-size: clamp(1rem, 30%, 2vmin);
}


#results-modal #results-pie-score .pie-chart-container {
  height: clamp(170px, 30vh, 14vmin);
  font-size: 1.6em;
}