#results-modal .modal-header {
  background-color: var(--main-dark-grey);
  font-size: clamp(30px, 100px, 6vmin);
  font-family: 'Luckiest Guy', cursive;
  color: var(--main-blue);
  text-shadow: 0px 2px 2px black;

}

#results-modal .modal-body .title {}

#results-modal .modal-body .value {
  color: var(--main-purple);
  font-style: italic;

}

#results-modal .logo img {
  height: clamp(50px, 100px, 4vmin);
  /* filter: drop-shadow(0px 2px 2px #black); */

}


#results-progress,
#results-score {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.2em;
}

#results-progress .value,
#results-score .value {
  font-size: 1.8em;
}


#results-pie-wpm .value :not(span) {
  font-size: 0.5em;
}

#results-modal .reload-btn>img {
  height: clamp(3.2em, 4em, 6vh);
  padding: 0.6em;

}

#results-modal .reload-btn>img:hover {
  background-color: #dddfe9;
  border-radius: 0.8em;
  cursor: pointer;
}


#results-modal .value {
  font-size: 1.6em;
}

#results-modal .unit {
  padding-left: 0.2em;
  font-size: 1.2em;
}







#results-modal .pie-chart .pie-chart-container {
  position: relative;
  height: clamp(150px, 20vh, 10vmin);
  font-size: clamp(1rem, 30%, 2vmin);
}


#results-modal #results-pie-score .pie-chart-container {
  height: clamp(170px, 30vh, 14vmin);
  font-size: 1.6em;
}