#correction-container {
  position: absolute;
  bottom: 180%;
  width: 100%;
  display: flex;
	justify-content: space-around;	
}


#correction {
  opacity: 0;

  border: solid 1px black;
  border-radius: 10px;
  padding: 1vmin;
  background-color: white;

  min-width: 50vw;
  max-width: 90vw;
  text-align: center;

  font-size: calc(3vmin + 0.8em);
  min-height: 9vmin;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}




#correction:not(:empty) {
  transition: opacity 100ms cubic-bezier(0.645, 0.005, 1.000, 0.215);
  opacity: 0.8;
}


#correction:has(.expectedAnswer) {
  background-color: #4865d6;
  color: white;
  opacity: 0.8;
}



#correction>.delete {
  text-decoration-line: line-through;
  text-decoration-color: #e83c4b; /* rgb(128,128,128);*/
  text-decoration-style: double;
  color: rgb(128,128,128);
  padding-left: 0.07em;
  padding-right: 0.07em;
}

#correction>.delete.substitute {
  display: none;
}

#correction>.insert {
  color: #e83c4b;
}

#correction>.keep {
  color: green;
}

#correction>.extra {
  filter: blur(0.15em);
}




#expected-answer-container {
  position: absolute;
  bottom: 180%;
  width: 100%;
  display: flex;
	justify-content: center;	
}


#expected-answer {
  opacity: 0;

  border: solid 1px black;
  border-radius: 10px;
  padding: 1vmin;

  background-color: #4865d6;
  color: white;

  min-width: 50%;
  text-align: center;

  font-size: 4vmin;
  min-height: 9vmin;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#expected-answer:not(.hide) {
  opacity: 0.8;
}

#expected-answer.hide {
  transition: opacity 250ms cubic-bezier(0.645, 0.005, 1.000, 0.215);
  opacity: 0;

}