@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


:root {
  --main-blue: #4865d6;
  --main-red: #e83c4b;
  --main-yellow: #bbdb06;
  --main-orange: #F08700;
  --main-green: #0CCA4A;
  --main-purple: #331832;
  --main-light-grey: #cdcdcd;
  --main-dark-grey: #919191;
  --main-darker-grey: #505050;
}

.text-blue {color: var(--main-blue);}
.text-red {color: var(--main-red);}

.bg-blue {background-color: var(--main-blue);}
.bg-red {background-color: var(--main-red);}

.text-bg-blue {
  background-color: var(--main-blue);
  color: white;
}

.text-bg-red {
  background-color: var(--main-red);
  color: white;
}


body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  background-image: linear-gradient(rgba(211, 211, 211, 1), rgba(120, 120, 120, 1));
  height: 100%;
  overflow: hidden;
}

.luckiest {
  font-family: 'Luckiest Guy', cursive;
  display: inline-block;
  vertical-align: -0.2em;
}

#main {
  background-color: lightgray;
  position: relative;
  transition: height 0.15s ease-out;
  overflow: hidden;
  background-image: linear-gradient(rgba(220, 220, 220, 1), rgba(190, 190, 190, 1));

  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#burger {
  position: fixed;
  left: 2vmin;
  top: 2vmin;
  opacity: 0.9;
  border-radius: 50%;
  cursor: pointer;
  width: clamp(50px, 100px, 6vmin);
  height: clamp(50px, 100px, 6vmin);
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


#burger:not(.disable):hover {
  opacity: 1;
  transform: scale(1.1);  
}


#burger.disable {  
  opacity: 0.5;
  cursor: not-allowed;
}


#loader-overlay {
  background-color:rgb(32,32,32,0.4);
  border-radius: var(--bs-modal-border-radius);
}